{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}

<div class="container">
    <div class="text-center">
        <h2>Login</h2>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col">
            <form method="POST" action="">
                {% csrf_token %}
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" placeholder="Username" class="form-control">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" class="form-control">
                <input class="btn btn-primary my-3" type="submit" value="Login">
                {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}   
                Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a>
            </form>
        </div>
    </div>
</div>

{% endblock content %}