<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pokemon Pasture</h1>
    <hr/>
    <h5>Total Pokemon: </h5>
    <p>xyz</p> <!-- Ubahlah sesuai dengan nama kamu -->
    <h5>Pokemon list (Name: Amount): </h5>
    <p>- Bulbasaur: 2</p> <!-- Ubahlah sesuai dengan kelas kamu -->
    <p>- Chamander: 1</p> <!-- Ubahlah sesuai dengan kelas kamu -->
    <p>- Squirtle: 3</p> <!-- Ubahlah sesuai dengan kelas kamu -->
</body>
</html>