<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.small {
  width: 15%;
}

.wide {
  width: 55%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<h1>Pokémon Pasture</h1>

<hr/>

<h3>Bimantoro Widyadana (2206824306) - PBP E</h3>

<h3>Pokémon count: {{ item_count }}</h3>

<div class="row">
    <div class="column small">
        <h3>Name</h3>
    </div>
    <div class="column small">
        <h3>Owner</h3>
    </div>
    <div class="column small">
        <h3>Amount</h3>
    </div>
    <div class="column wide">
        <h3>Description</h3>
    </div>
</div>

{% for item in items %}
<div class="row">
    <div class="column small">
        <p>{{ item.name }}</p>
    </div>
    <div class="column small">
        <p>{{ item.owner }}</p>
    </div>
    <div class="column small">
        <p>{{ item.amount }}</p>
    </div>
    <div class="column wide">
        <p>{{ item.description }}</p>
    </div>
</div>
{% endfor %}

</body>
</html>
