{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'main:main' %}">Pokémon Pasture</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="{% url 'main:main' %}">Home</a>
          <a class="nav-link" href="{% url 'main:create_pokemon' %}">Create Pokémon</a>
          <a class="nav-link" href="{% url 'main:catch_pokemon' %}">Catch Pokémon</a>
        </div>
      </div>
      <a class="btn btn-primary" role="button" href="{% url 'main:logout' %}">Logout</a>
    </div>
</nav>

<br/>

<div class="container">
  <h1 class="text-center">Pokémon Pasture</h1>

  <hr/>

  <h3 class="text-start">Welcome, {{ name }} - PBP E</h3>

  <p class="text-start">You currently have {{ total }} Pokémon in your pasture</p>

  <div class="container-fluid">
    <div class="row my-2">
      <div class="col-2">
        <h5 class="text-center">Name</h5>
      </div>
      <div class="col-2">
        <h5 class="text-center">Owned</h5>
      </div> 
      <div class="col-4">
        <h5 class="text-center">Description</h5>
      </div>
    </div>

    {% for item in items %}
    <div class="row my-2" {% if forloop.last %}style="background-color: darkkhaki;"{% endif %}>
      {% with pk=item.pk %}
      <div class="col-2">
        <p class="text-center">{{ item.pokemon.name }}</p>
      </div>
      <div class="col-2">
        <p class="text-center">{{ item.amount }}</p>
      </div>
      <div class="col-4">
        <p class="text-center text-wrap">{{ item.pokemon.description }}</p>
      </div>
      <div class="col-1 d-flex justify-content-center">
        <a class="btn btn-primary" href="{% url 'main:increment' id=pk %}" role="button">Catch Again</a>
      </div>
      <div class="col-1 align-items-center d-flex justify-content-center">
        <a class="btn btn-warning" href="{% url 'main:decrement' id=pk %}" role="button">Release</a>
      </div>
      <div class="col-1 d-flex justify-content-center">
        <a class="btn btn-danger" href="{% url 'main:remove' id=pk %}" role="button">Release All</a>
      </div>
      <div class="col-1 align-items-center d-flex justify-content-center">
        <a class="btn btn-secondary" href="{% url 'main:edit_pokemon' id=pk %}" role="button">Edit</a>
      </div>
      {% endwith %}
    </div>
    {% endfor %}
    <div class="row my-2">
      <p class="text-start">Sesi terakhir login: {{ last_login }}</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-2">
        <a class="btn btn-primary" href="{% url 'main:create_pokemon' %}" role="button">Create Pokémon!</a>
      </div>
      <div class="col-2">
        <a class="btn btn-primary" href="{% url 'main:catch_pokemon' %}" role="button">Catch Pokémon!</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
